body {
    font-family: Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('../images/pagesBackground.jpg');
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #1e1e1e;
}

.borrowing-form,
.reader-form,
.category-form,
.book-form {
    max-height: 0;
    opacity: 0;
    transition: max-height 1s ease, opacity 1s ease;
    overflow: hidden;
    flex-direction: column;
    margin-bottom: 20px;
}

.edit-form input,
.borrowing-form input,
.borrowing-form select,
.reader-form input,
.category-form input,
.book-form input,
.book-form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px 0 5px 10px;
}

select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px 0 5px 10px;
}


.edit-form input {
    margin-left: 0;
}

button[type="editPOST"],
button[type="submitReturn"],
button[type="submitDelete"],
button[type="submitAdd"],
.toggle-form {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button[type="submitDelete"] {
    background-color: #cc0000;
    color: white;
    width: 75px;
}

button[type="editPOST"],
button[type="submitReturn"],
button[type="submitAdd"] {
    margin-left: 0px;
    margin-top: 10px;
    background-color: #017d3a;
    color: white;
}

button[type="submitReturn"] {
    margin-left: 0;
}


button[type="editPOST"]:hover,
button[type="submitAdd"]:hover {
    background-color: #01401b;
}


button[type="submitDelete"]:hover,
.toggle-form:hover {
    background-color: #880404;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    cursor: pointer;
    position: relative
}

tr:hover {
    background-color: #f1f1f1;
}

.toggle-form {
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    margin-bottom: 20px;
    margin-left: 10px;
}

.toggle-form:hover {
    background-color: #053f83;
}


.btn-main {
    border: none;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    background: #c800fb;
    box-shadow: 0 5px 0 #2b0202;
    margin-left: 150px;
    margin-top: 150px;
    font-family: "Bell MT", sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    display: inline-block;
    float: left;
}

.btn-main:hover {
    background: #470101;
    box-shadow: none;
    position: relative;
    top: 5px;
}

.borrowed {
    background-color: #ffcccc;
}

.returned {
    background-color: #ccffcc;
}

button[type="submitEdit"] {
    background-color: #e7e7e7;
    color: black;
    width: 75px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-top: 5px;
}

button[type="submitEdit"]:hover {
    background-color: #888888;
    cursor: pointer;
}

th a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px;
}

th a:hover {
    background-color: #e0e0e0;
    border-radius: 4px;
}

th {
    background-color: #f2f2f2;
    cursor: pointer;
    position: relative;
}

.sort-arrow {
    margin-left: 5px;
    font-size: 0.8em;
    color: #007bff;
}

th.sorted-asc .sort-arrow {
    content: "▲";
}

th.sorted-desc .sort-arrow {
    content: "▼";
}

th:hover {
    background-color: #e0e0e0;
}