<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Категории</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages.css}">
</head>
<body>
<a href="/index" class="btn-main">На главную</a>

<div class="container">
    <h1>Категории</h1>

    <button class="toggle-form" onclick="toggleForm()">Добавить</button>

    <form action="/categories" method="POST" class="category-form" id="categoryForm">
        <input type="text" name="name" placeholder="Название категории" required>
        <button type="submitAdd">Добавить категорию</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Название</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.name}"></td>
            <td>
                <form action="/categories/delete/{id}" method="POST"
                      th:action="@{/categories/delete/{id}(id=${category.id})}">
                    <button type="submitDelete">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function toggleForm() {
        const form = document.getElementById('categoryForm');
        if (form.style.maxHeight) {
            form.style.maxHeight = null;
            form.style.opacity = 0;
        } else {
            form.style.maxHeight = form.scrollHeight + "px";
            form.style.opacity = 1;
        }
    }
</script>
</body>
</html>